.main-container {
  padding: 20px;
  font-family:'Cafe24Meongi-W-v1.0', 'KyoboHandwriting2023wsa';
  background-color: #000000;
  color: #ffffff;
}
@font-face {
    font-family: 'Cafe24Meongi-W-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHandwriting2023wsa';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/KyoboHandwriting2023wsa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

.title1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff; 
}
.post-form {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #000000;
}

.submit-button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Cafe24Meongi-W-v1.0';
}

.submit-button:hover {
  background-color: #333333;
}

.posts-container {
  margin-top: 20px;
}

.post {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.post h2 {
  color: #000000;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center; 
}

.post p {
  color: #000000;
  margin-bottom: 15px;
  text-align: center; 
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-image {
  width: 100px;
  margin-right: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Cafe24Meongi-W-v1.0';
}

.delete-button {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Cafe24Meongi-W-v1.0';
}

.delete-button:hover {
  background-color: #333333;
  font-family: 'Cafe24Meongi-W-v1.0';
}

.read-more {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}
